.logo-img{
    width: 200px;
    height: 50px;
    object-fit: cover;
}
.spinner{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trinity-rings-spinner, .trinity-rings-spinner * {
    box-sizing: border-box;
}

.trinity-rings-spinner {
    height: 100px;
    width: 100px;
    padding: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    box-sizing: border-box;
}
.trinity-rings-spinner .circle {
    position:absolute;
    display:block;
    border-radius:50%;
    border: 3px solid #2d3748;
    opacity: 1;
}

.trinity-rings-spinner .circle:nth-child(1) {
    height: 100px;
    width: 100px;
    animation : trinity-rings-spinner-circle1-animation 1.5s infinite linear;
    border-width: 3px;
}
.trinity-rings-spinner .circle:nth-child(2) {
    height: calc(100px * 0.65);
    width: calc(100px * 0.65);
    animation : trinity-rings-spinner-circle2-animation 1.5s infinite linear;
    border-width: 2px;
}
.trinity-rings-spinner .circle:nth-child(3) {
    height: calc(100px * 0.1);
    width: calc(100px * 0.1);
    animation:trinity-rings-spinner-circle3-animation 1.5s infinite linear;
    border-width: 1px;
}

@keyframes trinity-rings-spinner-circle1-animation{
    0% {
        transform: rotateZ(20deg) rotateY(0deg);
    }
    100% {
        transform: rotateZ(100deg) rotateY(360deg);
    }
}
@keyframes trinity-rings-spinner-circle2-animation{
    0% {
        transform: rotateZ(100deg) rotateX(0deg);
    }
    100% {
        transform: rotateZ(0deg) rotateX(360deg);
    }
}
@keyframes trinity-rings-spinner-circle3-animation{
    0% {
        transform: rotateZ(100deg) rotateX(-360deg);
    }
    100% {
        transform: rotateZ(-360deg) rotateX(360deg);
    }
}